In [1]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.3.2

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
print(df.head())

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

In [8]:
#Q2. Records count
#How many records are in the dataset?
len(df)

9704

In [16]:
#Q3. Fuel types
#How many fuel types are presented in the dataset?
df['fuel_type'].nunique()

2

In [17]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [18]:
#Q4. Missing values
#How many columns in the dataset have missing values?
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [20]:
(df.isnull().sum() > 0).sum()

np.int64(4)

In [21]:
#Q5. Max fuel efficiency
#What's the maximum fuel efficiency of cars from Asia?
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [23]:
#Q6. Median value of horsepower
df['horsepower'].median()

np.float64(152.0)

In [24]:
df['horsepower'].mode()[0]

np.float64(152.0)

In [27]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mode()[0])

In [29]:
after_median = df['horsepower'].median()
print("Median after filling:", after_median)

Median after filling: 152.0

In [30]:
#Answer - No

In [31]:
#7. Sum of weights 
#Select all the cars from Asia
asia_cars = df[df['origin'] == 'Asia']
asia_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [32]:
#Select only columns vehicle_weight and model_year
asia_cars = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']]
asia_cars.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [33]:
#Take the first 7 values
X = asia_cars.head(7)
print(X)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [34]:
#Get the underlying NumPy array. Let's call it X.
X = X.to_numpy()   # convert pandas DataFrame → NumPy array
print(X.shape)     # should be (7, 2)

(7, 2)

In [35]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [38]:
#Invert XTX.
import numpy as np
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [39]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Step 5: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

print(y)

[1100 1300  800  900 1000 1100 1200]

In [40]:
# Step 6: Multiply inverse(XTX) * X.T * y
w = XTX_inv @ X.T @ y

print(w)

[0.01386421 0.5049067 ]

In [41]:
#What's the sum of all the elements of the result?
w_sum = w.sum()
print(w_sum)

0.5187709081074016